.botao{
    /* padding: 5px 100px; */
    width: 200px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #063273;
    color: white;
    border-radius: 6px;
    /* Negrito */
    font-weight: bolder;
}