/* Container da página inteira */
.main_login {
    display: flex;
    width: 100%;
    height: 100vh;
}

.banner {
    width: 50%;
    height: 100vh;
}

.section_login {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.form_login {
    width: 600px;
    max-width: 90%;
    padding: 50px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.form_login h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

.campo_input input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px 0;
    border: 2px solid #AEBED1;
    border-radius: 6px;
    box-sizing: border-box; }

.botao,
.botaoCadastro {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 2px solid #28489b;
    border-radius: 8px;
    background-color: transparent;
    color: #28489b;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.botao:hover,
.botaoCadastro:hover {
    background-color: #28489b;
    color: white;
}

.botao {
    text-align: center;
}

.botao:hover {
    background: #1d3573;
}

.banner {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.logoSupernova {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.textoCadastro {
    margin-top: 15px;
    text-align: center;
    color: #666;
}